# Ignore API test output
SkillSnap_API/TestResults/

# Ignore client build artifacts
SkillSnap_Client/bin/
SkillSnap_Client/obj/

# Ignore API build artifacts
SkillSnap_API/bin/
SkillSnap_API/obj/

#Ignore build artifacts for testing
SkillSnap_API_Test/bin/
SkillSnap_Client_Test/bin/
SkillSnap_API_Test/obj/
SkillSnap_Client_Test/obj/

#ignore shared artifacts
SkillSnap_Shared/bin/
SkillSnap_Shared/obj/

# Ignore published builds
publish/