@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject ITokenService TokenService
@inject NavigationManager Nav

<AuthorizeView>
    <Authorized>
        <!-- When the user IS authenticated -->
        <button @onclick="Logout">Logout</button>
    </Authorized>

    <NotAuthorized>
        <!-- When the user is NOT authenticated -->
        <button @onclick="Login">Login</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void Login()
    {
        Nav.NavigateTo("/authentication");
    }

    private async Task Logout()
    {
        await TokenService.RemoveTokenAsync();
        ((ApiAuthenticationStateProvider)AuthStateProvider).NotifyUserLogout();
        Nav.NavigateTo("/authentication");
    }
}